{% extends "core/base.html" %}

{% block content %}
<div class="container py-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-primary mb-4">Lista de Chamados</h1>
        <a href="/novo-chamado" class="btn btn-sm btn-outline-primary">Criar chamado</a>
    </div>
    <table class="table table-striped table-hover shadow-sm bg-white">
        <thead class="table-dark">
            <tr>
                <th>Laboratório</th>
                <th>Problema</th>
                <th>Prioridade</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for chamado in chamados %}
            <tr>
                <td>{{ chamado.laboratorio }}</td>
                <td>{{ chamado.descricao }}</td>
                <td>
                    {% if chamado.prioridade == "Alta" %}
                    <span class="badge bg-danger">{{ chamado.prioridade }}</span>
                    {% elif chamado.prioridade == "Média" %}
                    <span class="badge bg-warning">{{ chamado.prioridade }}</span>
                    {% else %}
                    <span class="badge bg-primary">{{ chamado.prioridade }}</span>
                    {% endif %}
                </td>
                <td>
                        <a href="{% url 'editar-chamado' chamado.id %}" class="btn btn-sm btn-outline-primary">
                            Editar
                        </a>
                       
                    
                   <form method="post" action="{% url 'fechar-chamado' chamado.pk %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-outline-danger">
                            🗑 Fechar
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}