body {
    background-color: #f8f9fa;
}


h1 {
    color: #0d6efd;
}
 
.hero-section {
    background: linear-gradient(135deg, #6610f2, #0d6efd);
    color: white;
    padding: 60px 0;
}

.page-header {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    justify-items: right;
    padding-right: 50px;
    max-height: 124px;
}